.footer {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    min-height: 10rem;
    background-color: #000;
    padding: 0 1rem 0 1rem;
}